$primary-black: #050505;
$secondary-black: #3B3d3f;
$light-gray: #cfd2d8;
$super-light-gray: #f6f9ff;

$primary-color: #1d4289;
$primary-color-light: #1B3C79;
$primary-color-dark: #132B58;

$secondary-color: #61170F;
$secondary-color-light: #781C12;

$font-size--default: 1.6rem;
$font-size--small: 1.4rem;
$font-size--large: 2.4rem;