@import './variables.scss';

html {
  font-size: 62.5%;
  font-family: 'Verdana', sans-serif;
  color: $primary-black;
  line-height: 1.6;
}

h1 {
  font-size: $font-size--large;
  text-align: center;
}

textarea {
  width: 60%;
  font-size: $font-size--small;
  font-family: inherit;
  resize: none;
  border: 1px solid $primary-black;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.lesson-review {
  margin: 0 auto;
  max-width: 1400px;
  font-size: $font-size--default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vocab-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  border-width: 0px;

  legend {
    text-align: center;
    font-size: $font-size--large;
    font-weight: 600;
  }
}

.media-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.media-button {
  border-radius: 50%;
  border: 0.75em solid transparent;
  padding: 20px;
  outline: none;
  background-color: $super-light-gray;

  &.active {
    background-color: $light-gray;
  }

  &:hover,&:focus {
    border: 0.75em solid $light-gray;
  }
}

.square {
  height: 50px;
  width: 50px;
  background-color: $secondary-color;
  // outline: 5px solid $secondary-color;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: 5px solid $primary-color-light;
}

.triangle-right {
	width: 0;
	height: 0;
  margin-left: 7px;
  border-width: 0px;
	border-top: 25px solid transparent;
	border-left: 43px solid $primary-color-dark;
	border-bottom: 25px solid transparent;
  background-color: transparent;
}

.submit-buttons {
  text-align: center;
  font-weight: 600;
}

.answer-buttons {
  text-align: center;
  margin: 0 auto;
  font-weight: 500;

  label {
    margin-right: 10px;
  }
}

.disabled-form-element {
  margin-top: 0px;
  font-style: italic;
  font-weight: 400;
}

@media screen and (max-width: 350px) {
  html {
    font-size: 16px;
  }
  
  .vocab-buttons {
    flex-direction: column;
  }
}